.image-slide {
  animation: slide-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
