.toast-animate {
  animation: drop 0.3s;
  animation-fill-mode: forwards;
}

@keyframes drop {
  0% {
    transform: translateY(-100px) translateX(-50%);
  }
  50% {
    transform: translateY(0%) translateX(-50%);
  }
  70% {
    transform: translateY(-30%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}